
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffe5d0;
    color: #2d3832;
    background-image: url(/static/img/page.jpg);
    height: 100%;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
 }
 #alert {
   background-color: beige;
   font-size: 22px;
   font-weight: bolder;

}

 nav {
   background-color: #736155;
    color: #f1cbbe;
 }
 h2,h3,h4,h5,h6 {
    font-size: x-large;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 50px;
 }
h4 {
   font-size: x-large;
   font-weight: bold;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   margin-left: 200px;
}

 li {
   margin-left: 20px;
   margin-bottom: 5px;
   font-size: 30px;
   font-weight: bold;
}

a {
   color: #514943;
}
#itinerary {
   font-size: 2.0rem;
}


textarea {
   background-color: #eeeeee;

}
text,input,placeholder {

   color: rgb(101, 64, 37);
}
.col {
   margin-left: 15px;
}

#app-title {
   font-family: Trattatello, fantasy;
   font-size: xx-large;
   margin-bottom: 0px;
 }

 .topnav-right {
   float: right;
   font-size: 15px;
   color: #f1cbbe;

 }

 #user-name, #user-email{
    text-align: center;
    font-weight: bolder;
    font-family: Gill Sans, sans-serif;
 }

.btn.btn-primary {
    background-color: #dd9678;
    color: #592b1f;
    border-color: #da9e84;
    width: 330px;
    height: 47px;
    margin-bottom: 15px;
    margin-right: 50px;

 }

 .modal-content, .modal-header{

   background-color: #d3c9b5;
   color: #1a1614
 }

 #new-trip-submit,
 #existing-submit,
 #explore-submit {
    background-color: #928360;
    width: fit-content;
 }

#user-itineraries {
   padding-bottom: 500px;
}
#text-disable-text {
   background-color: #e4d4b2;
   text-align: center;
}


.itin-map #itin-map {
  height: 500px;
}

.map #map {
height: 500px;

}

.itin-map, 
.map {
  background-color: #060707;
  padding: 5px;
  margin-right: 50px;
}


#trip-name, 
#activity-header{ 
   font-family: Gill Sans, sans-serif;
   font-weight: bolder;
   font-size: xx-large;
   text-align: center;
}

#travel-dates{
   font-size: x-large;
   margin-left: 80px;
   padding-top: 20px;
}

.activity-time{
   font-size: medium;
   padding-left: 30px;
}

.activity-name{
   padding-left: 60px;
}

.activity-address{
   font-size: medium;
   padding-left: 60px;
}

.itinerary-note, 
.activity-note{
    font-size: medium;
    padding-top: 10px;
    padding-left: 60px;

}

.days{

   margin-top: 10px;
   margin-bottom: 10px;
}

#misc-recommend{
   font-size: large;
   margin-top: 20px;
   margin-left: 50px;
}
#misc-activities{
   font-size: large;
   font-weight: bolder;
   margin-top: 20px;
   margin-left: 50px;
}

img {  
   max-width: 25%;  
   height: auto;  
   }  
#notes,
#friends-list {
   font-size: large;
}

#comment, 
#comment-date{
   background-color: #857e85;
   margin-bottom: 15px;
}
 #travel-mates{
    padding-bottom: 10px
 }

 .pac-target-input{
   font-size: large;
 }

 span.optional{
    font-size: x-small;
 }

 #span-trip{
    color: #a3543d;
    font-size: large;
 }

.activity-form{
    margin-bottom: 15px;
   font-weight: bolder;
   font-size: 20px;
    
 }
 #add-activity-btn{
    margin-top: 15px;
 }

 #activity-date{
   color: black;
   margin-right: 500px;
}
#activity-time {
   color: black;
   /* margin-right: 10px; */
}
#back-to-itinerary {
   font-size: 20px;
}
