<!DOCTYPE html>
<html>
<head>
  <title>TOURTORO</title>
  
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" 
        crossorigin="anonymous"/>
  <link href="https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Montserrat&display=swap" 
        rel="stylesheet">
  <!-- <link rel="icon" href="/static/logo.png"> -->
  <!-- <link rel="stylesheet" href="/static/css/style.css"/> -->
  <link rel="stylesheet" href="/static/css/homepage.css"/> 
  <script src="https://code.jquery.com/jquery-3.5.1.js"
          integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
          crossorigin="anonymous"></script>
</head>
<body>
  <!-- {% for msg in get_flashed_messages() %}
  
    <p class="flash-msg">
      {{ msg }}
    </p>
  {% endfor %} -->
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div id="alert" class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                <span>{{ message }}</span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">×</span>
                </button>
            </div>
        {% endfor %}
    {% endif %}
  {% endwith %}

  <div class="bkimg">
  
    <div class="title">
      <br>
      <div id="adventure-title"><h1><img src=static/img/logo.png>TOURTORO</h1></div>
      
      <div><h2>The better way to plan<br> your next adventure ...</h2></div>
    </div>

    <div id="login-info">
      <div id="login">
        <form id="login-form" action="/login" method="POST">
          <div class="col-4">
            <ul>
              <div id="email-input" class="col">
              <input class="form-control" type="text" name="email" required="required" placeholder="Email" />
              </div>
            </ul>
            
            <ul>
            <div id="pw-input" class="col">
              <input class="form-control" type="password" name="password" required="required" placeholder="Password" />
            </div>
            </ul>

          </div>
          <div>
            <input id="submit-btn" type="submit" value="Log In" />
          </div>
        </form>
      </div>
  
  </div>
  <div id="sign-up" data-toggle="modal" data-target="#new-user-modal">
    Need an account? Click here to sign up...
  </div>

  <div class="modal fade" id="new-user-modal" tabindex="-1" role="dialog" aria-labelledby="SignUpModalLabel" 
        aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="SignUpModalLabel">Create an Account</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form id="new-user-form" submit="/users/create-user.json" method="POST">
            <div>
              <input id="new-email" type="text" name="email" required="required" placeholder="Email">
              
            </div>
            <div>
              <input id="new-password" type="text" name="password" required="required" placeholder="Password">
            </div>
            <div>
              <input id="new-fname" type="text" name="fname" required="required" placeholder="First Name">
            </div>
            <div>
              <input id="new-lname" type="text" name="lname" required="required" placeholder="Last Name">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary"id="new-user-submit">Create My Account</button>
        </div>
      </div>
    </div>
  </div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" 
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" 
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" 
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" 
        crossorigin="anonymous"></script>
<script src="/static/js/homepage.js"></script>
