{% extends 'base.html' %}
{% block title %}My Trip{% endblock %}

{% block head %}
<script src="/static/js/map_styles.js"></script>
<script src="/static/js/my_trip_map.js"></script>
<script
  async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCCAzkJ73QJXmoq8jsCvLAe0RRqcNG5vOQ&callback=initMap&libraries=places&v=weekly">
</script>
{% endblock %}

{% block body %}
<div id="trip-name"></div>
<div hidden id="itinerary-id"></div>
<div class="row">
  <div class="col">
    <div id="itinerary">
      <div id="travel-dates"></div>
      <div id="misc-activities">More Activities:</div>
    </div>
  </div>
  <div class="col" id="col-two">
    <br />
    <div class="itin-map">
      <div id="itin-map"></div>
    </div>
    <div id="add-actitities">
      <button class="btn btn-primary" id="add-activity-btn" action="/users/trips/activities">Add Activities</button>
    </div>

    <div id="friends-list">Adventure Friends:</div>
    <div id="travel-mates">
    </div>
    <button class="btn btn-primary" id="add-mate-btn">Add More Friends!</button>
    <div>
      <button onclick="window.print()" class="btn btn-primary" id="pretty-print">Print This Itinerary</button>
    </div>
  </div>
</div>
<!-- add friend modal -->
<div class="modal fade" id="add-friend-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body" id="add-friend-modal-text">
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block after_body %}
<script src="/static/js/my_trip.js"></script>
{% endblock %}